<!-- wp:pattern {"slug":"fotografie-blocks/header-media-top"} /-->
<!-- wp:template-part {"slug":"header" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

    <!-- wp:pattern {"slug":"fotografie-blocks/featured-content-default"} /-->
    <!-- wp:pattern {"slug":"fotografie-blocks/recent-blog-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
